@media screen and (min-width: 120px) and (max-width: 1000px){
    header {
        width: 100%;
    }

    .Textos_1 {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .Textos_1 h1 {
        font-family: 'Pacifico', cursive;
        margin: 2rem 15rem;
    }

    .Textos_1 h4 {
        margin: 2rem 1rem;
    }

    .Textos_1 h3 {
        margin: 0rem 6rem;
        font-family: 'Pacifico', cursive;
        align-items: center;
    }
}